swarm_rl==1.0.0
pillow==11.1.0
kiwisolver==1.4.8
requests==2.32.3
PyOpenGL==3.1.9
annotated-types==0.7.0
sentry-sdk==2.20.0
PyOpenGL-accelerate==3.1.9
jupyter_core==5.7.2
urllib3==2.3.0
Werkzeug==3.1.3
charset-normalizer==3.4.1
cycler==0.12.1
sympy==1.13.1
click==8.1.8
comm==0.2.2
nvidia-cufft-cu12==11.2.1.3
gitdb==4.0.12
packaging==24.2
tenacity==9.0.0
tzdata==2025.1
triton==3.1.0
attrdict==2.0.1
debugpy==1.8.12
huggingface-hub==0.28.1
six==1.17.0
pyzmq==26.2.1
scipy==1.14.1
colorlog==6.9.0
zipp==3.21.0
nvidia-cusparse-cu12==12.3.1.170
parso==0.8.4
prompt_toolkit==3.0.50
exceptiongroup==1.2.2
pytz==2025.1
nvidia-cuda-nvrtc-cu12==12.4.127
mpmath==1.3.0
signal-slot-mp==1.0.5
plotly==5.24.1
tensorboard-data-server==0.7.2
setproctitle==1.3.4
executing==2.1.0
jedi==0.19.2
MarkupSafe==3.0.2
noise==1.2.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
threadpoolctl==3.5.0
psutil==6.1.1
matplotlib==3.9.2
sample-factory==2.1.1
tensorboardX==2.6.2.2
pure_eval==0.2.3
nvidia-curand-cu12==10.3.5.147
pexpect==4.9.0
numpy==1.26.4
nest_asyncio==1.6.0
docker-pycreds==0.4.0
platformdirs==4.3.6
certifi==2025.1.31
pickleshare==0.7.5
pydantic_core==2.27.2
stack_data==0.6.3
torch==2.5.0
fonttools==4.55.8
decorator==5.1.1
gymnasium==0.28.1
gym-notices==0.0.8
tqdm==4.66.5
importlib_metadata==8.6.1
cloudpickle==3.1.1
osqp==0.6.7.post3
wcwidth==0.2.13
PyYAML==6.0.2
nvidia-nvtx-cu12==12.4.127
smmap==5.0.2
llvmlite==0.43.0
python-dateutil==2.9.0.post0
nvidia-nccl-cu12==2.21.5
Farama-Notifications==0.0.4
pyparsing==3.2.1
pandas==2.2.3
grpcio==1.70.0
contourpy==1.3.1
bezier==2023.7.28
filelock==3.17.0
Markdown==3.7
matplotlib-inline==0.1.7
wandb==0.19.5
Jinja2==3.1.5
faster-fifo==1.5.2
transforms3d==0.4.2
qdldl==0.1.7.post5
tensorboard==2.18.0
nvidia-cudnn-cu12==9.1.0.70
setuptools==75.8.0
typeguard==4.3.0
asttokens==3.0.0
jax-jumpy==1.0.0
wheel==0.45.1
nvidia-cuda-runtime-cu12==12.4.127
GitPython==3.1.44
networkx==3.4.2
fsspec==2025.2.0
numba==0.60.0
pip==25.0
pydantic==2.10.6
gym==0.26.2
opencv-python==4.11.0.86
nvidia-nvjitlink-cu12==12.4.127
ipykernel==6.29.5
pyglet==1.5.23
absl-py==2.1.0
idna==3.10
ipython==8.32.0
traitlets==5.14.3
nvidia-cusolver-cu12==11.6.1.9
protobuf==5.29.3
typing_extensions==4.12.2
tornado==6.4.2
Pygments==2.19.1
jupyter_client==8.6.3
ptyprocess==0.7.0
Cython==3.0.11
swarm_rl==1.0.0
